name: Run SSH Key Manager

on:
  workflow_dispatch:   # 手动运行

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install -v filelock

      - name: Run script
        run: python3 RSA_management_updated.py --help

      - name: Show network source
        run: pip install -v filelock

